<div class="nav">
  <div class="logo">
  </div>

  <div class="menu">
  </div>

  <div class="search">
  </div>

  <div class="dropdown">
  </div>
</div>

<div class="notes">
</div>

<div class="note">
</div>
