.l-dropdown
  position: absolute
  bottom: 0
  width: 100%
  border-top: 1px solid whiten($base-color, 90%)
  line-height: 60px
  text-align: center

  a
    color: whiten($base-color, 20%)
    text-decoration: none
